# -----------------
# CALLING - BCFtools
# -----------------

# See the "bcftools mpileup" command or the manual at https://samtools.github.io/bcftools/bcftools.html#mpileup for more options.

# -f is automatically assigned based on the input reference
# -o is automatically assigned based on the input sample
# -O v is automatically added
# -a FORMAT/AD,FORMAT/ADF,FORMAT/ADR,FORMAT/DP,FORMAT/SP is automatically added
# -q PENDING
# -Q PENDING

-A              # Include anomalous read pairs
-I              # Do not include indels
-d 1000000      # Max. 1 million reads per position per file 