# -----------------
# ALIGNMENT - BWA
# -----------------

# List all your parameters line by line under the corresponding region
# See the online manual here https://bio-bwa.sourceforge.net/bwa.shtml for more options.

hostIndex:
    # See bwa index help for more options
    # -p should not be used
    # Use -a bwtsw for human genome or other genomes larger than 2G
    -a bwtsw        # This is for the human genome.

hostAlignment:
    # See bwa mem help for more options
    # -t is automatically assigned based on the configured number of threads

pathogenIndex:
    # See bwa index help for more options
    # -p should not be used
    # Better leave this empty

pathogenAlignment:
    # See bwa mem help for more options
    # -t is automatically assigned based on the configured number of threads