# -----------------
# ALIGNMENT - GMAP
# -----------------

# List all your parameters line by line under the corresponding region

hostIndex:
    # See gmap_build help for more options
    # -D is automatically assigned based on the reference path
    # -d is automatically assigned based on the reference path
    --input-buffer-size=1000        # Increase for increasing efficiency at the expense of memory
 
hostAlignment:
    # See gmap help for more options
    # -t is automatically assigned based on the configured number of threads
    # -D is automatically assigned based on the reference path
    # -d is automatically assigned based on the reference path
    # -f is automatically assigned based on the reads type (samse for single=end, sampe for paired-end)
    --input-buffer-size=1000        # Increase for increasing efficiency at the expense of memory

pathogenIndex:
    # See gmap_build help for more options
    # -D is automatically assigned based on the reference path
    # -d is automatically assigned based on the reference path
    --input-buffer-size=1000        # Increase for increasing efficiency at the expense of memory

pathogenAlignment:
    # See gmap help for more options
    # -t is automatically assigned based on the configured number of threads
    # -D is automatically assigned based on the reference path
    # -d is automatically assigned based on the reference path
    # -f is automatically assigned based on the reads type (samse for single=end, sampe for paired-end)
    --input-buffer-size=1000        # Increase for increasing efficiency at the expense of memory