# -----------------
# CALLING - JACUSA
# -----------------

# See the "jacusa call-1" command or the manual at https://github.com/dieterich-lab/JACUSA2/blob/master/manual/manual.pdf for more options.
# It will always use the call-1 variant.

# -p is automatically assigned based on the number of threads in the config file
# -r is automatically assigned based on the input sample
# -f V is automatically added
# -s is automatically added
# -q is automatically assigned based on the minimum base quality set in the config file
# -m is automatically assigned based on the minimum read mapping quality set in the config file

-a B,I,Y    # Filter potential false positive varians adjacent to read start/end and indel position(s), and filter wrong variant calls within homopolymers