# -----------------
# ALIGNMENT - BWA
# -----------------
bwaPath                 /opt/software/bwa/bwa            # Path to BWA executable. If "None", the default path will be 'bwa'.

## For the following parameters, there are three columns, except for the path: 
## Parameter name, value for aligning against host, and value for aligning against virus.

bwaIndexAlgorithm       None    None    # Algorithm for constructing BWT index. Available options are 'is' and 'bwtsw'. If "None", the default value will be 'is'.
bwaMinSeedLength        None    None    # Minimum seed length. Matches shorter than INT will be missed. If "None", the default value will be '19'.
bwaBandwidth            None    None    # Band width. Gaps longer than INT will not be found. If "None", the default value will be '100'.
bwaOffDiagonalXDropoff  None    None    # Off-diagonal X-dropoff (Z-dropoff). If "None", the default value will be '100'.
bwaReseeding            None    None    # Trigger re-seeding for a MEM longer than bwaMinSeedLength*FLOAT. If "None", the default value will be '1.5'.
bwaMinOccurence         None    None    # Discard a MEM if it has more than INT occurence in the genome. If "None", the default value will be '10000'.
bwaMatch                None    None    # Matching score. If "None", the default value will be '1'.
bwaMismatch             None    None    # Mismatch penalty. If "None", the default value will be '4'.
bwaGapOpen              None    None    # Gap open penalty. If "None", the default value will be '6'.
bwaGapExt               None    None    # Gap extension penalty. If "None", the default value will be '1'.
bwaClipping             None    None    # Clipping penalty. If "None", the default value will be '5'.
bwaUnpaired             None    None    # Penalty for an unpaired read pair. If "None", the default value will be '9'.
bwaMinScore             None    None    # Don’t output alignment with score lower than INT. If "None", the default value will be '30'.
bwaOutputSinglePaired   None    None    # 'true' to output all found alignments for single-end or unpaired paired-end reads.