# -----------------
# ALIGNMENT - STAR - For additional parameters, please, read the manual at https://github.com/alexdobin/STAR/blob/master/doc/STARmanual.pdf
# -----------------
starPath                None    # Path to STAR executable. If "None", the default path will be 'STAR'. 

## For the following parameters, there are three columns, except for the path: 
## Parameter name, value for aligning against host, and value for aligning against virus.

## These parameters are for creating the index files
starGTF                 None    None    # Path to annotation file in GTF format. This is optional, but HIGHLY recommended if available. Use "None" if there is no GTF file.
starOverhang            None    None    # Length of the genomic sequence around the annotated junction to be used in constructing the splice junctions database. Ideally, it is the max length of the reads - 1. In most cases, the value of 100 will work. If "None", the default value will be 14.
## You can add more parameters for creating the index file using the following format: 
# ==> For parameters with values, the parameter name will be starIndex_<parameter>.
# starIndex_<parameter>   value_host  value_virus
# starIndex_genomeSAindexNbases   14   6   
## These parameters are for mapping the query files to the reference

starGap                 None    None    # Splice junction penalty. If "None", the default value will be '0'.
starGapNonCanonical     None    None    # Non-canonical junction penalty. If "None", the default value will be '-8'.
starGapGCAG             None    None    # GC/AG and CT/GC junction penalty. If "None", the default value will be '-4'.
starGapATAC             None    None    # AT/AC and GT/AT junction penalty. If "None", the default value will be '-8'.
starDeleteOpen          None    None    # Deletion open penalty. If "None", the default value will be '-2'.
starDeleteExtend        None    None    # Deletion extension penalty per base. If "None", the default value will be '-2'.
starInsertOpen          None    None    # Insertion open penalty. If "None", the default value will be '-2'.
starInsertExtend        None    None    # Insertion extension penalty per base. If "None", the default value will be '-2'.

## You can add more parameters for the mapping process using the following format:
# ==> For flags, the parameter name will be starMapping_flag_<parameter>, with value 'true' if you want to use it.
# ==> If the value is not 'true', the flag will not be applied.
# starMapping_flag_<parameter>   value_host  value_virus
# starMapping_flag_outSAMattributes  true      false
# ==> For parameters with values, the parameter name will be starMapping_<parameter>.
# starMapping_<parameter>   value_host  value_virus
# starMapping_outSAMattributes  Standard  Standard