# -----------------
# ALIGNMENT - Hisat2
# -----------------
hisat2Path              None    # Path to Hisat2 directory. If "None", the default path will be ''.

## For the following parameters, there are three columns, except for the path: 
## Parameter name, value for aligning against host, and value for aligning against virus.

hisat2Mismatch          None    None    # max, min penalties for mismatch. If "None", the default value will be '6, 2'.
hisat2SoftClipping      None    None    # max, min penalties for soft-clipping. If "None", the default value will be '2, 1'.
hisat2NoSoftClipping    None    None    # No soft-clipping. True if soft-clipping is deactivated.
hisat2NonACGT           None    None    # Penalty for non-A/C/G/Ts in read/ref. If "None", the default value will be '1'.
hisat2ReadGapOpenExtend None    None    # Read gap open, extend penalties. If "None", the default value will be '5, 3'.
hisat2RefGapOpenExtend  None    None    # Reference gap open, extend penalties. If "None", the default value will be '5, 3'.
hisat2MinScore          None    None    # Function for min acceptable alignment score w/r/t read length. If "None", the default value will be '(L,0.0,-0.2)'.
