# -----------------
# ALIGNMENT - Minimap2 - For additional parameters or more information, read the reference at https://lh3.github.io/minimap2/minimap2.html
# -----------------
minimapPath                 None    # Path to Minimap2. If "None", the default value will be "minimap2".

## For the following parameters, there are three columns, except for the path: 
## Parameter name, value for aligning against host, and value for aligning against virus.

## These parameters are for creating the index files.
minimapKmerSize             None    None    # Minimizer k-mer size, <=28. If "None", the default value will be '15'.
minimapWindowSize           None    None    # Minimizer window size.  If "None", the default value will be 2/3 of k-mer size.
minimapSplitIndex           None    None    # Split index for every NUM input bases. NUM may be ending with k/K/m/M/g/G. If "None", the default value will be '4G'.

### You can add more parameters for creating the index file using the following format: 
# ==> For parameters with values, the parameter name will be minimapIndex_<parameter>.
# minimapIndex_C            0   0
# minimapIndex_parameter    value_host  value_virus
# ==> For flags, the parameter name will be starMapping_flag_<parameter>, with value 'true' if you want to use it.
# ==> If the value is not 'true', the flag will not be applied.
# minimapIndex_flag_<parameter>     value_host  value_virus
# minimapIndex_flag_no-end-flt      true      false

## These parameters are for mapping the query files to the reference
minimapPreset               sr    None    # 'splice' for long-read spliced alignment. 'splice:hq' for Pacbio CCS spliced alignment. If "None", the default value will be 'splice'.
minimapGTAG                 None    None    # How to find canonical splicing sites GT-AG. f:transcript strand, b:both strands, n:don't match GT-AG. If "None", the default value will be 'f'.
minimapFraction             None    None    # Filter out top FLOAT fraction of repetitive minimizers. If "None", the default value will be '0.0002'.
minimapStopChainElongation  None    None    # Stop chain enlongation if there are no minimizers in INT-bp. If "None", the default value will be '10000'.
minimapMaxIntron            None    None    # Max intron length (gap on the reference). If "None", the default value will be '200k'. 
minimapChainAlign           None    None    # Bandwidth for chaining and base alignment. If "None", the default value will be '500,20k'.
minimapMinMinimizers        None    None    # Discard chains consisting of less than INT number of minimizers. If "None", the default value will be '3'.
minimapChainingScore        None    None    # Discard chains with chaining score (matching bases minus log gap penalty) of less than INT. If "None", the default value will be '40'.
minimapSecondary            None    None    # 'yes' or 'None' if you want to include secondary alignments. 'no' if not.
minimapMin2to1ScoreRatio    None    None    # Minimal secondary-to-primary score ratio to output secondary mappings. If "None", the default value will be '0.8'.
minimapRetainSecondary      None    None    # Retain at most INT secondary alignments. If "None", the default value will be '5'.
minimapMatch                None    None    # Matching score. If "None", the default value will be '2'.
minimapMismatch             None    None    # Mismatch penalty. If "None", the default value will be '4'.
minimapOpen                 None    None    # Gap open penalty. If "None", the default value will be '4'.
minimapExtension            None    None    # Gap extension penalty. a k-long gap costs O1+k*E1. If "None", the default value will be '2'.
minimapZDrop                None    None    # Z-drop score and inversion Z-drop score. Can take INT,INT or INT (in which case both will be the same value) If "None", the default value will be '400,200'.
minimapMinPeakDP            None    None    # Minimal peak DP alignment score to output. If "None", the default value will be '40'.
minimapMinibatch            None    None    # Minibatch size for mapping. If "None", the default value will be '500M'.

### You can add more parameters for for the mapping process using the following format: 
# ==> For parameters with values, the parameter name will be minimapMapping_<parameter>.
# minimapMapping_C            0   0
# minimapMapping_parameter    value_host  value_virus
# ==> For flags, the parameter name will be starMapping_flag_<parameter>, with value 'true' if you want to use it.
# ==> If the value is not 'true', the flag will not be applied.
# minimapMapping_flag_<parameter>   value_host  value_virus
# minimapMapping_flag_no-end-flt    true      false