# -----------------
# ALIGNMENT - GMAP - For additional parameters or more information, read the reference at https://www.venea.net/man/gmap(1) or https://manpages.ubuntu.com/manpages/trusty/man1/gmap.1.html
# -----------------
gmapPath                    None    # Path to GMAP directory. If "None", the default path will be ''.

## For the following parameters, there are three columns, except for the path: 
## Parameter name, value for aligning against host, and value for aligning against virus.

## These parameters are for creating the database files.
gmapIndexKmer               None    None    # K-mer value for genomic index <= 15 . If "None", the default value is '15'.
gmapInterval                None    None    # Sampling interval for genome (between 1 and 3). If "None", the default value is '3'.

### You can add more parameters for creating the index file using the following format: 
# ==> For parameters with values, the parameter name will be gmapIndex_<parameter>.
# gmapIndex_C            0   0
# gmapIndex_parameter    value_host  value_virus
# ==> For flags, the parameter name will be starMapping_flag_<parameter>, with value 'true' if you want to use it.
# ==> If the value is not 'true', the flag will not be applied.
# gmapIndex_flag_<parameter>    value_host  value_virus
# gmapIndex_flag_no-end-flt     true      false

## These parameters are for the mapping process
gmapMapKmer                 None    None    # K-mer size to use in genome database <= 16. If "None", the program will find the highest available k-mer size in the genome database.
gmapSampling                None    None    # Sampling value to use in genome database. If "None", the program will find the smallest available sampling value in the genome database.
gmapPart                    None    None    # Process only the i-th out of every n sequences. e.g., '0/100' or '99/100'.  If "None", it will process every sequence ('1/1').
gmapBuffer                  None    None    # Size of input buffer (program reads this many sequences at a time for efficiency). If "None", the default value will be '1000'.
gmapSplicing                None    None    # Use splicing. If "false", this option will not be applied. If other value (INCLUDING "None"), it will be applied.
gmapMinIntron               None    None    # Min length for one internal intron, If "None", the default value will be '9'. Below this size, a genomic gap will be considered a deletion rather than an intron.
gmapMaxIntronMiddle         None    None    # Max length for one internal intron. If "None", the default value will be '500000'. 
gmapMaxIntronEnds           None    None    # Max length for first or last intron. If "None", the default value will be '10000'. 
gmapSplitLargeIntrons       None    None    # Sometimes GMAP will exceed the value for gmapMaxIntronMiddle if it finds a good single alignment. Use 'true' to force GMAP to split such alignments.
gmapTrimEndExons            None    None    # Trim end exons with fewer than given number of matches. If "None", the default value will be '12'. 
gmapMaxKnownSplice          None    None    # Max length for known splice sites at ends of sequence. If "None", the default value will be '2000000'. 
gmapMaxIntron               None    None    # Max total intron length. If "None", the default value will be '2400000'. 
gmapChimeraMargin           None    None    # Amount of unaligned sequence that triggers search for the remaining sequence. If "None", the default value will be '30'. To turn off alignment of chimeric reads, set to zero.
gmapDirection               None    None    # cDNA direction. Accepted values are 'sense_force', 'antisense_force', 'sense_filter', 'antisense_filter', or 'auto'. 'If "None", the default value will be 'auto'. 
gmapCanonical               None    None    # Reward for canonical and semi-canonical introns. 0=low reward, 1=high reward, 2=low reward for high-identity sequences and high reward otherwise. 'If "None", the default value will be '1'.
gmapCrossSpecies            None    None    # Use 'true' for a more sensitive search for canonical splicing, which helps especially for cross-species alignments and other difficult cases.
gmapAllowCloseIndels        None    None    # Allow an insertion and deletion close to each other. 0=no, 1=yes, 2=only for high-quality alignments. If "None", the default value will be '1'.
gmapMicroexonSpliceProb     None    None    # Allow microexons only if one of the splice site probabilities is greater than this value. If "None", the default value will be '0.95'.
gmapPruning                 None    None    # Pruning level. 0=no pruning, 1=poor seqs, 2=repetitive seqs, 3=poor and repetitive. If "None", the default value will be '0'.

### You can add more parameters for for the mapping process using the following format: 
# ==> For parameters with values, the parameter name will be gmapMapping_<parameter>.
# gmapMapping_C            0   0
# gmapMapping_parameter    value_host  value_virus
# ==> For flags, the parameter name will be starMapping_flag_<parameter>, with value 'true' if you want to use it.
# ==> If the value is not 'true', the flag will not be applied.
# gmapMapping_flag_<parameter>    value_host  value_virus
# gmapMapping_flag_no-end-flt     true      false