# -----------------
# ALIGNMENT - Magic-BLAST
# -----------------
magicblastPath              ./ncbi-magicblast-1.6.0/bin    # Path to Magic-BLAST directory. If "None", the default path will be ''.

## For the following parameters, there are three columns, except for the path: 
## Parameter name, value for aligning against host, and value for aligning against virus.

magicblastWordSize          None    None    # Word size, >= 12. If "None", the default value will be '18'.
magicblastGapOpen           None    None    # Cost to open a gap. If "None", the default value will be '0'.
magicblastGapExtend         None    None    # Cost to extend a gap. If "None", the default value will be '4'.
magicBlastMismatch          None    None    # Penalty for a nucleotide mismatch. If "None", the default value will be '4'.
magicblastMaxIntronLen      None    None    # Maximum allowed intron length. If "None", the default value will be '500000'.
magicblastPercIdentity      None    None    # Reject match if percent identity to query is lower (0 to 100). If "None", the default value will be '0.0'.
magicblastLcaseMask         None    None    # Use lower case filtering in subject sequence(s). If "false" or "None", this option will not be applied.
magicblastTranscriptome     None    None    # Use "false" if your reference is a genome. Use "true" or other value (INCLUDING "None") if your reference is a transcriptome.
magicblastSplice            None    None    # Search for spliced alignments. If "false", this option will not be applied. If other value (INCLUDING "None"), it will be applied. If your reference is a transcriptome, this option will be ignored.
magicblastMaxDbWordCount    None    None    # Max frequency for a database word. Words with higher frequency will be masked in the lookup table. If your reference is a transcriptome, this option will be ignored. If "None", the default value will be '30'.
magicblastLimitLookup       None    None    # Remove word seeds with high frequency in the searched database. If "false", this option will not be applied. If other value (INCLUDING "None"), it will be applied. If your reference is a transcriptome, this option will be ignored.
magicblastLookupStride      None    None    # Number of words to skip after collecting one while creating a lookup table. If "None", the default value will be '0'.
magicblastValidateSeqs      None    None    # Reject low quality sequences. If "false", this option will not be applied. If other value (INCLUDING "None"), it will be applied.
magicblastScore             None    None    # Cutoff score for accepting alignments. Can be expressed as a number or a function of read length: L,b,a for a * length + b. '0' (default if "None") means that the cutoff score will be equal to read length if read length <= 20, 20 if read length <= 30, read length - 10 if read length <= 50, 40 otherwise.
magicblastMaxEditDist       None    None    # Cutoff edit distance for accepting an alignment. If "None", this filter will be disabled (i.e. there is no limit).
