# -----------------
# READ QUALITY - FastQC
# -----------------

# See the "fastqc --help" command for more options.

# -o is automatically assigned based on the input sample
# -t is automatically assigned based on the number of threads in the configuration file
# --extract is automatically added

-q      # Just to keep the log clean. It turns off progress messages