# -------------------
# ALIGNMENT - Hisat2
# -------------------

# List all your parameters line by line under the corresponding region
# See the online manual at https://daehwankimlab.github.io/hisat2/manual/#command-line for more options.

hostIndex:
    # See hisat2-build help for more options
    # -p is automatically assigned based on the configured number of threads
    --dcv 1024          # Just a default value

hostAlignment:
    # See hisat2 help for more options
    # -p is automatically assigned based on the configured number of threads
    # -x is automatically assigned based on the reference path
    # -S is automatically assigned based on the reads file ID
    # -1 and -2 are automatically assigned if the reads are paired-end based on the input reads
    # -U is automatically assigned if the reads are single-end based on the input reads
    --pen-cansplice 0   # Just a default value

pathogenIndex:
    # See hisat2-build help for more options
    # -p is automatically assigned based on the configured number of threads
    --dcv 1024          # Just a default value

pathogenAlignment:
    # See hisat2 help for more options
    # -p is automatically assigned based on the configured number of threads
    # -x is automatically assigned based on the reference path    
    # -S is automatically assigned based on the reads file ID
    # -1 and -2 are automatically assigned if the reads are paired-end based on the input reads
    # -U is automatically assigned if the reads are single-end based on the input reads
    --pen-cansplice 0   # Just a default 