# -----------------------
# ALIGNMENT - MagicBLAST
# -----------------------

# List all your parameters line by line under the corresponding region

hostIndex:
    # See makeblastdb help for more options
    # -in is automatically assigned based on the reference path
    # -out is automatically assigned based on the reference path
    # -parse_seqids is automatically added
    # -dbtype nucl is automatically added
    -max_file_sz 1GB            # Just a default value

hostAlignment:
    # See magicblast help for more options
    # -num_threads is automatically assigned based on the configured number of threads
    # -db is automatically assigned based on the reference name
    # -out is automatically assigned based on the reference path
    # -infmt fastq is automatically added
    # -paired, -query and -query_mate are automatically assigned if the reads are paired-end based on the input reads
    # -query is automatically assigned if the reads are single-end based on the input reads
    # REMEMBER: If you are aligning DNA reads, use -splice F
    -max_intron_length 500000   # Just a default value       

pathogenIndex:
    # See makeblastdb help for more options
    # -in is automatically assigned based on the reference path
    # -out is automatically assigned based on the reference path
    # -parse_seqids is automatically added
    # -dbtype nucl is automatically added
    -max_file_sz 1GB            # Just a default value

pathogenAlignment:
    # See magicblast help for more options
    # -num_threads is automatically assigned based on the configured number of threads
    # -db is automatically assigned based on the reference name    
    # -out is automatically assigned based on the reference path
    # -infmt fastq is automatically added
    # -paired, -query and -query_mate are automatically assigned if the reads are paired-end based on the input reads
    # -query is automatically assigned if the reads are single-end based on the input reads
    # REMEMBER: If you are aligning DNA reads, use -splice F
    -max_intron_length 500000   # Just a default value       
