# Source can be 'project', 'file' or 'srr'
source  sra

# Number of threads to use along in every step. Be careful when using too many threads, since it might end up using all your RAM.
threads 16

# Path to the directory where all temporary files and results will be stored
workPath    ../testDemo

# Path to the SRA toolkit executables directory
sratoolkitPath  ./sratoolkit.3.0.0/bin    # If "None", the default path will be ''.

# Path to the SAMtools executable
samtoolsPath  /opt/software/samtools-1.9/samtools    # If "None", the default path will be 'samtools'.

# Log
logFile     True        # Write the log to a file
logConsole  True        # Write the log to the console

# Turn on/off optional steps
runFastQC               On    # Runs the quality analysis with FastQC
cropLowQualityRuns      On    # Will run only if runFastQC is turned on. Crops with Trimmomatic or Trim Galore the files that do not pass the filter specified in the cropping configuration. 
runHostAlignment        On   # Runs the alignment against the host.
removeAlignedWithHost   On    # Will run only if runHostAlignment is turned on. Removes the sequences that were aligned with the host.
runQualimap             On    # Runs the quality analysis with Qualimap
removeHighErrorRuns     On    # Will run only if runQualimap is turned on. Discards the files that have % error higher than qualimapMaxError.

# Resume from a given step
resumeFrom              callReditools    # "None" if all steps are executed. Allowed values (in order): 'runFastQC', 'cropLowQuality', 'hostAlignment', 'removeAligned', 'virusAlignment', 'sort', 'runQualimap', 'discardHighError', 'callReditools', 'callJacusa', 'filterAS_StrandOddsRatio', 'mergeCalling'

#=========================
#== QUALITY ANALYSIS
#=========================

# FastQC

fastqcPath              /opt/software/fastqc/fastqc-11.9/fastqc        # Path to FastQC executable. If "None", the default path will be 'fastqc'.
fastqcContaminantsFile  None        # Path to list of contaminants to screen overrepresented sequences against. Format for each sequence: name[tab]sequence.
fastqcAdapterFile       None        # Path to list of adapter sequences. Format for each sequence: name[tab]sequence.
fastqcMinLength         None        # Minimum length for sequences to be shown in the report.
fastqcQuiet             True        # True if you want to supress all messages in the console. False (or None) if not.

# Qualimap

qualimapPath            qualimap_v2.2.1/qualimap        # Path to Qualimap executable. If "None", the default path will be 'qualimap'.
qualimapSeqProtocol     None        # Sequencing library protocol: 'strand-specific-forward', 'strand-specific-reverse' or 'non-strand-specific'. If "None", the default value will be 'non-strand-specific'.
qualimapMinHomopol      None        # Minimum size for a homopolymer to be considered in indel analysis. If "None", the default value will be '3'.
qualimapReadsPerChunk   None        # Number of reads analyzed in a chunk. If "None", the default value will be '1000'.
qualimapWindows         None        # Number of windows. If "None", the default value will be '400'.
qualimapMaxError        0.45        # REQUIRED. Highly susceptible to discarding sequences that aligned with the host. Maximum error rate allowed (in %). Read files with error higher than this value in all reference files will be discarded for analysis.

#=========================
#== CROPPING
#=========================

cropSoftware        trimmomatic # 'trimmomatic' and 'trimgalore' are available.
trimmomaticPath     /opt/software/trimmomatic/Trimmomatic-0.39/trimmomatic-0.39.jar        # Path to Trimmomatic executable. If "None", the default path will be 'trimmomatic.jar'.
trimGalorePath      /opt/software/trimgalore/TrimGalore-0.6.6/trim_galore        # Path to Trim Galore executable. If "None", the default path will be 'trim_galore'.
cropMinMeanQuality  None        # Minimum mean quality in FastQC results. If a run has a mean below this value, it will be cropped. If "None", this filter will not be applied.
cropMaxDecay        10          # RECOMMENDED. Maximum quality decay after the best mean quality reached in the FastQC results. If a run has a decay above this value, it will be cropped. If "None", this filter will not be applied.
cropSize            100         # Size of the reads after cropping.

#=========================
#== ALIGNMENT           
#=========================

alignmentSoftware   bwa    bwa        # 'hisat2', 'bwa' and 'magicblast' are suggested for short reads. 'magicblast', 'minimap2' and 'gmap' (if reads are cDNA) are suggested for long reads. 'star' is suggested for RNA-seq short reads.
hostReferencePath   test/saccharomycesCerevisiae.fna  # REQUIRED. Path to the host reference fasta file.
virusReferencePath  test/virusRef/          # REQUIRED. Path to the virus reference fasta file or a folder with multiple fasta files. A folder path must end with the '/' character.

#=========================
#== MUTATION CALLING           
#=========================

# --- GENERAL FOR CALLING ---
callingReadMinQuality   25  # Min quality for mapped reads. If "None", the filter will not be applied.
callingBaseMinQuality   35  # Min base quality. If "None", the filter will not be applied.

# --- REDitools2 ---
reditoolsCommand   /opt/software/REDItools2/src/cineca/reditools.py    # Command to run Reditools. If "None", the default value will be "python2 reditools.py".
reditoolsStrand         None   # Sequences strand. Values can be '0' (unstranded), '1' (second strand-oriented) and '2' (first strand-oriented). If "None", the default value will be '0'.
reditoolsHomopolSpan    4       # REQUIRED. Homopolymeric span.
reditoolsMinBasePos     15      # Min base position. SNVs detected before this position (in the read) will be ignored. If "None", the filter will not be applied.
reditoolsMaxBasePos     15      # Max base position. SNVs detected in the last <INT> bases (in the read) will be ignored. If "None", the filter will not be applied.
reditoolsMinReadLen     None    # Min read length. Reads shorter than this length will be ignored. If "None", the filter will not be applied.

# --- JACUSA 2 ---
jacusaPath      /opt/software/JACUSA2/jacusa2.0.2.jar    # Path to the JACUSA2 jar file. If "None", the default value will be "jacusa.jar". 
jacusaFeatureFilter     B,I,Y   # Pileup filter. Refer to https://github.com/dieterich-lab/JACUSA/blob/master/manual/manual.pdf to see how it works. If "None", the filter will not be applied.

### You can add more parameters for JACUSA using the following format: 
# ==> For parameters with values, the parameter name will be jacusa_<parameter>.
# jacusa_c            5
# ==> For flags, the parameter name will be jacusa_flag_<parameter>, with value 'true' if you want to use it.
# ==> If the value is not 'true', the flag will not be applied.
# jacusa_flag_<parameter>   value
# jacusa_flag_A             true

# --- bcftools mpileup ---
bcftoolsPath            /opt/software/samtools-1.9/bcftools/bin/bcftools    # Path to the bcftools executable. If "None", the default value will be "bcftools".

### You can add more parameters for bcftools mpileup using the following format: 
## WARNING: Options -a, -O, -C, -I and -d are set internally.
# ==> For parameters with values, the parameter name will be jacusa_<parameter>.
# bcftools_r            value
# ==> For flags, the parameter name will be bcftools_flag_<parameter>, with value 'true' if you want to use it.
# ==> If the value is not 'true', the flag will not be applied.
# bcftools_flag_<parameter>   value
# bcftools_flag_B             true

#=========================
#== FINAL RESULTS        
#=========================

minSNVCoverage              20  # REQUIRED. Min coverage per detected SNV.
minMainReadSupport          4   # REQUIRED. Min supporting reads (mutated reads) per SNV for the main results.
minRecurringReadSupport     2   # REQUIRED. Min supporting reads (mutated reads) per SNV for the recurring SNVs list.
minFrequency                0.5 # REQUIRED. Min frequency percentage (%) of mutation (allelic depth).
maxAS_StrandOddsRatio       4   # REQUIRED. Max AS_StrandOddsRatio (https://gatk.broadinstitute.org/hc/en-us/articles/5358809795739-AS-StrandOddsRatio).

# --- Figures ---
figDistributionWidth        20      # Width (in inches) for the distribution figures.
figDistributionTicksX       15      # Number of ticks in the X axis for the distribution figures.
figDistributionBinSize      400     # Bin size for the distribution figures.
figDPI                      600     # DPI for all the saved figures.
