# Source can be 'project', 'file' or 'sra'
source  file
# Can be either 'single', 'paired' or 'mixed'
inputType    mixed 
# Directory where all the input Fastq files are located -- ONLY FOR SOURCE = 'file'
inputFastqDir   ../sampleData/inputFastq/

# Number of threads to use along in every step. Be careful when using too many threads, since it might end up using all your RAM.
threads 16

# SLURM
slurm   True  # Whether the pipeline will be executed on SLURM or not. If "True", it will run SLURM jobs. 
slurmTime   72  # REQUIRED. Time allotment (in hours).
slurmMem    64G  # REQUIRED. Allocated memory. G for GB, M for MB.
slurmCpus   16  # REQUIRED. Number of CPUs per job.

# Path to the directory where all temporary files and results will be stored
workPath    workspace

# Path to the default directory where all the tools will be downloaded
toolsPath   ../tools

# Path to the Java executable
javaPath    None # If "None", the default path will be '<toolsPath>/java-se-8u42-ri/bin/java'. <toolsPath> is the path in the previous parameter.

# Path to reference host fie
hostReferencePath   ../sampleData/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa  # REQUIRED. Path to the host reference fasta file.

# Paths to the reference pathogen genome FASTA files (comma-separated)
pathogenReferenceGenomePaths  ../sampleData/pathogenRef/genome.fa          
# Paths to the reference pathogen protein FASTA files (comma-separated)
pathogenReferenceProteinPaths  ../sampleData/pathogenRef/protein.fa          
# Paths to the reference pathogen genes files (comma-separated). Accepted extensions: gff, gff3, gtf, gbk, gbff, gb, refseq
pathogenReferenceGenesPaths  ../sampleData/pathogenRef/genes.gbk          


# Path to the SRA toolkit executables directory
sratoolkitPath  None    # If "None", the default path will be ''.

# Path to the SAMtools executable
samtoolsPath  None    # If "None", the default path will be 'samtools'.

# Log
logFile     True        # Write the log to a file
logConsole  True        # Write the log to the console

# Turn on/off optional steps
runFastQC               On    # Runs the quality analysis with FastQC
cropLowQualityRuns      On    # Will run only if runFastQC is turned on. Crops with Trimmomatic or Trim Galore the files that do not pass the filter specified in the cropping configuration. 
runHostAlignment        On   # Runs the alignment against the host.
removeAlignedWithHost   On    # Will run only if runHostAlignment is turned on. Removes the sequences that were aligned with the host.
runQualimap             On    # Runs the quality analysis with Qualimap
removeHighErrorRuns     On    # Will run only if runQualimap is turned on. Discards the files that have % error higher than qualimapMaxError.

# Resume from a given step
resumeFrom              None    # "None" if all steps are executed. Allowed values (in order): 'runFastQC', 'cropLowQuality', 'hostAlignment', 'removeAligned', 'pathogenAlignment', 'sort', 'runQualimap', 'discardHighError', 'callReditools', 'callJacusa', 'filterSOR', 'runSnpEff', 'mergeCalling', 'generateGraphs', 'generateReport'

#=========================
#== QUALITY ANALYSIS
#=========================

# FastQC

fastqcPath              None        # Path to FastQC executable. If "None", the default path will be '<toolsPath>/FastQC/fastqc'.

# Qualimap

qualimapPath            None        # Path to Qualimap executable. If "None", the default path will be '<toolsPath>/qualimap_v2.2.1/qualimap'.
qualimapMaxError        3.00        # REQUIRED. Maximum error rate allowed (in %). Highly susceptible to discarding sequences that aligned with the host. Read files with error higher than this value in all reference files will be discarded for analysis.

#=========================
#== CROPPING
#=========================

cropSoftware        trimmomatic # 'trimmomatic' and 'trimgalore' are available.
trimmomaticPath     None        # Path to Trimmomatic executable. If "None", the default path will be '<toolsPath>/Trimmomatic-0.39/trimmomatic-0.39.jar'.
trimGalorePath      None        # Path to Trim Galore executable. If "None", the default path will be 'trim_galore'.
cropMinMeanQuality  None        # Minimum mean quality in FastQC results. If a run has a mean below this value, it will be cropped. If "None", this filter will not be applied.
cropMaxDecay        1           # RECOMMENDED. Maximum quality decay after the best mean quality reached in the FastQC results. If a run has a decay above this value, it will be cropped. If "None", this filter will not be applied.
cropSize            100         # Size of the reads after cropping.

#=========================
#== ALIGNMENT           
#=========================

# 'hisat2' and 'star' is suggested for short RNA-seq reads. 'bwa' is suggested for short DNA reads. 'minimap2' is suggested for RNA or DNA long reads. 'gmap' is suggested for long cDNA reads. 'magicblast' works for any case.
alignmentSoftwareHost           star
alignmentSoftwarePathogen       hisat2        
bwaPath                         None    # Path to BWA executable. If "None", the default path will be 'bwa'.
gmapPath                        None    # Path to GMAP directory. If "None", the default path will be ''.
hisat2Path                      None    # Path to Hisat2 directory. If "None", the default path will be '<toolsPath>/hisat2-2.1.0/'. <toolsPath> is the path in the main.config file.
magicblastPath                  None    # Path to Magic-BLAST directory. If "None", the default path will be '<toolsPath>/ncbi-magicblast-1.6.0/bin/'. <toolsPath> is the path in the main.config file.
minimapPath                     None    # Path to Minimap2 executable. If "None", the default value will be "<toolsPath>/minimap2-2.20_x64-linux/minimap2". <toolsPath> is the path in the main.config file.
starPath                        None    # Path to STAR executable. If "None", the default path will be 'STAR'. 

#=========================
#== MUTATION CALLING           
#=========================

# --- GENERAL FOR CALLING ---
callingReadMinQuality   25      # Min. mapping quality for mapped reads. If "None", the filter will not be applied.
callingBaseMinQuality   35      # Min. base quality. If "None", the filter will not be applied.
callingSoftware         both    # 'jacusa', 'reditools' or 'both'.

# --- REDitools2 ---
reditoolsCommand   None   # Command to run Reditools within double quotes. If "None", the default value will be "<toolsPath>/REDItools2/env/bin/python2 <toolsPath>/REDItools2/src/cineca/reditools.py".

# --- JACUSA 2 ---
jacusaPath      None    # Path to the JACUSA2 jar file. If "None", the default value will be "<toolsPath>/jacusa/JACUSA_v2.0.2-RC.jar". 

# --- bcftools mpileup ---
bcftoolsPath            None    # Path to the bcftools executable. If "None", the default value will be "bcftools".

#=========================
#== FINAL RESULTS        
#=========================

snpEffPath                  None    # Path to the snpEff executable. If "None", the default path will be '<toolsPath>/snpEff/snpEff.jar'. <toolsPath> is the value for the parameter in line 17, "toolsPath".

minSNVCoverage              20  # REQUIRED. Min coverage per detected SNV.
minMainReadSupport          4   # REQUIRED. Min supporting reads (mutated reads) per SNV for the main results.
minRecurringReadSupport     2   # REQUIRED. Min supporting reads (mutated reads) per SNV for the recurring SNVs list.
minFrequency                0.0 # REQUIRED. Min frequency % (0.0 to 100.0) of mutation (allelic depth).
maxAS_StrandOddsRatio       4   # REQUIRED. Max AS_StrandOddsRatio (https://gatk.broadinstitute.org/hc/en-us/articles/5358809795739-AS-StrandOddsRatio).

#=========================
#== FIGURES        
#=========================

figDPI                                                  150     # DPI for the generated figures.
figGenerateMutationCountBarPlotsPerRun                  On      # Generate the mutation count bar plots per run. Will generate if value is "On".
figGenerateMutationCountPerGeneBarPlotPerRun            On      # Generate the mutation count per gene bar plots per run. Will generate if value is "On".
figGenerateGlobalMutationCountBarPlots                  Off      # Generate the global mutation count bar plots. Will generate if value is "On".
figGenerateGlobalMutationCountPerRunBarPlots            Off      # Generate the global mutation count per run bar plots. Will generate if value is "On".
figGenerateGlobalMutationCountPerGeneBarPlots           Off      # Generate the global mutation count per gene bar plots. Will generate if value is "On".
figGenerateMutationCountBoxPlotsPerRun                  On      # Generate the mutation count box plots per run. Will generate if value is "On".
figGenerateMutationCountPerGeneBoxPlotPerRun            On      # Generate the mutation count per gene box plots per run. Will generate if value is "On".
figGenerateGlobalMutationCountBoxPlots                  Off      # Generate the global mutation count box plots. Will generate if value is "On".
figGenerateGlobalMutationCountPerRunBoxPlots            Off      # Generate the global mutation count per run box plots. Will generate if value is "On".
figGenerateGlobalMutationCountPerGeneBoxPlots           Off      # Generate the global mutation count per gene box plots. Will generate if value is "On".
figGenerateGlobalFrequencyPerMutationStripPlots         Off      # Generate the global frequency per mutation strip plot. Will generate if value is "On".
figGenerateGlobalFrequencyPerGeneStripPlots             Off      # Generate the global frequency per gene strip plot. Will generate if value is "On".
figGenerateGlobalFrequencyPerRunStripPlots              Off      # Generate the global frequency per run strip plot. Will generate if value is "On".
figGenerateGlobalDistributionHistogramsPlots            Off      # Generate the global distribution histograms plot. Will generate if value is "On".
figGenerateGlobalRegressionPlots                        Off      # Generate the global regression for total reads vs alternate reads plot. Will generate if value is "On".
figGenerateGlobalPresencePerRunPerPositionGraphs        Off      # Generate the global presence per run per position graphs. Will generate if value is "On".
figGenerateFrequencyPerMutationPerPositionGraphsPerRun  Off      # Generate the frequency per position graphs per run. Will generate if value is "On".
figPositionGraph                                        both    # Graph type for graphs that display data per position. 'heatmap', 'circos', 'both' or 'none'.
figPositionGraphMinIntensity                            0.05    # Minimum color intensity for the positions with mutation frequency > 0. Values betweeen 0.00001 and .
# === Per gene bar plots ===
figBarPlotPerGeneWidth          15      # Width (in inches) for the SNV count per gene bar plot
figBarPlotPerGeneHeight         20      # Width (in inches) for the SNV count per gene bar plot
figBarPlotPerGeneTickSize       12      # Font size for ticks in the SNV count per gene bar plot
figBarPlotPerGeneAxisLabelSize  12      # Font size for the labels in the axes for the SNV count per gene bar plot
figBarPlotPerGeneTitleSize      25      # Title size for the SNV count per gene bar plot
figBarPlotPerGeneNumber         100     # Number of genes shown in each group of SNV count per gene bar plot
# === Per gene box plots ===
figBoxPlotPerGeneWidth          15      # Width (in inches) for the SNV count per gene box plot
figBoxPlotPerGeneHeight         20      # Height (in inches) for the SNV count per gene box plot
figBoxPlotPerGeneTickSize       12      # Font size for ticks in the SNV count per gene box plot
figBoxPlotPerGeneAxisLabelSize  12      # Font size for the labels in the axes for the SNV count per gene box plot
figBoxPlotPerGeneTitleSize      25      # Title size for the SNV count per gene box plot
figBoxPlotPerGeneNumber         100     # Number of genes shown in each group of SNV count per gene box plot
# === Per mutation strip plots ===
figStripPlotPerMutationWidth    6      # Width (in inches) for the frequency per mutation strip plot
figStripPlotPerMutationHeight   8      # Height (in inches) for the frequency per mutation strip plot
# === Per gene strip plots ===
figStripPlotPerGeneWidth        15      # Width (in inches) for the frequency per gene strip plot
figStripPlotPerGeneHeight       20      # Height (in inches) for the frequency per gene strip plot
figStripPlotPerGeneNumber       100     # Number of genes shown in each group of frequency per gene strip plot
figStripPlotPerGeneTitleSize    10      # Title size for the frequency per gene strip plot
figStripPlotPerGeneTickSize     12      # Font size for ticks in the frequency per gene strip plot
# === Per run strip plots ===
figStripPlotPerRunWidth          6      # Width (in inches) for the frequency per run strip plot
figStripPlotPerRunBarHeight      0.8     # Height (in inches) for each bar of the frequency per run strip plot
# === Per run bar plots ===
figBarPlotPerRunWidth           6       # Width (in inches) for the SNV count per run bar plot
figBarPlotPerRunBarHeight       0.5      # Height (in inches) for each bar of the box plot (the bars are horizontal). Accepts decimal values.
# === Per run box plots ===
figBoxPlotPerRunWidth           6       # Width (in inches) for the SNV count per run box plot
figBoxPlotPerRunBarHeight       0.8     # Height (in inches) for each bar of the box plot (the bars are horizontal). Accepts decimal values.
# === Mutation count bar plots ===
figBarPlotCountWidth           8       # Width (in inches) for the SNV count bar plot
figBarPlotCountHeight          6      # Height (in inches) for the SNV count bar plot
# === Mutation count box plots ===
figBoxPlotCountWidth           8       # Width (in inches) for the SNV count box plot
figBoxPlotCountHeight          6      # Width (in inches) for the SNV count box plot
# === General strip plots ===
figStripPlotDotSize             2       # Size of the dots shown in the strip plots
# === Distribution Histogram ===
figDistributionTicksY           15      # Number of ticks in the Y axis for the distribution figures.
figDistributionWidth            20      # Width (in inches) for the distribution histogram figures.
figDistributionHeight           20      # Height (in inches) for the distribution histogram figures.
figDistributionBinSize          100000     # Bin size for the distribution figures.
# === Regression === 
figRegressionHeight             16      # Width (in inches) for the regression figures.
figRegressionWidth              16      # Width (in inches) for the regression figures.
# === Circos ===
figPositionsPerCircos           150     # Number of positions per circos graph file
figCircosSize                   20      # Size of the circos plots. It is not in any specific unit, but it is a proportion along with the center size below.
figCircosCenterSize             7       # Size of the circos center. It is not in any specific unit, but it is a proportion along with the circos size above.
figCircosTitleSize              60      # Font size for the title of the circos.
figCircosSampleLabelSize        50      # Font size for the sample labels
figCircosMutationLabelSize      60      # Font size for the mutation labels
figCircosPositionLabelSize      60      # Font size for the positions 
figCircosColorBarLabelSize      20      # Font size for the color bar label
figCircosColorBarTickSize       30      # Font size for the color bar tick labels
figCircosMutationsBlankDegrees  10      # Number of blank degrees for the frequency per mutation circos graph 
figCircosSamplesBlankDegrees    30      # Number of blank degrees for the presence per sample circos graph
figCircosGeneLabelSize          25      # Font size for the genes 
figCircosSamplesColor           #D6806D # Hex color for the maximum intensity in the presence per sample circos graph
figCircosMutationsColor         #D6806D # Hex color for the maximum intensity in the frequency per mutation circos graph 
# === Heatmap ===
figPositionsPerHeatmap          300     # Number of positions per heatmap
figHeatmapSize                  10      # Width (in inches) of the heatmap. The height is calculated in proportion to this value.
figHeatmapTitlePadding          150     # Padding (in pixels) between the title and the heatmap
figHeatmapTitleSize             20      # Font size for the title of the heatmap
figHeatmapColorBarLabelSize     10      # Font size for the color bar label
figHeatmapTickSize              10      # Font size for the color bar tick labels
figHeatmapGeneLabelSize         10      # Font size for the genes
figHeatmapSamplesColor          #D6806D # Hex color for the maximum intensity in the presence per sample heatmap
figHeatmapMutationsColor        #D6806D # Hex color for the maximum intensity in the frequency per mutation heatmap