# ----------------------
# ALIGNMENT - Minimap2
# ----------------------

# List all your parameters line by line under the corresponding region
# See the online manual here https://lh3.github.io/minimap2/minimap2.html for more options.

hostIndex:
    # See minimap2 help for more options
    # -t is automatically assigned based on the configured number of threads
    # -d is automatically assigned based on the reference path
    # -x IS SUGGESTED - See help to choose the best option
    # If you prefer to configure your own configuration, remember to use --splice for RNA-seq data.
    -x sr   # sr for short single-end reads without splicing

hostAlignment:
    # See minimap2 help for more options
    # -t is automatically assigned based on the configured number of threads
    # -d is automatically assigned based on the reference path
    # -a is automatically added
    # -x IS SUGGESTED - See help to choose the best option
    # If you prefer to configure your own configuration, remember to use --splice for RNA-seq data.
    -x sr   # sr for short single-end reads without splicing

pathogenIndex:
    # See minimap2 help for more options
    # -t is automatically assigned based on the configured number of threads
    # -d is automatically assigned based on the reference path
    # -x IS SUGGESTED - See help to choose the best option
    # If you prefer to configure your own configuration, remember to use --splice for RNA-seq data.
    -x sr   # sr for short single-end reads without splicing

pathogenAlignment:
    # See minimap2 help for more options
    # -t is automatically assigned based on the configured number of threads
    # -d is automatically assigned based on the reference path
    # -a is automatically added
    # -x IS SUGGESTED - See help to choose the best option
    # If you prefer to configure your own configuration, remember to use --splice for RNA-seq data.
    -x sr   # sr for short single-end reads without splicing