# -----------------
# ALIGNMENT QUALITY - Qualimap
# -----------------

# See the "qualimap bamqc --help" command or the manual at http://qualimap.conesalab.org/doc_html/analysis.html#bam-qc for more options.
# It always uses the bamqc analysis

# -bam is automatically assigned based on the input sample
# -outdir is automatically assigned based on the input sample
# -nt is automatically assigned based on the number of threads in the configuration file