# -----------------
# CALLING - REDItools2
# -----------------

# See the "reditools.py --help" command or https://github.com/BioinfoUNIBA/REDItools2#72-other-options for more options.

# -f is automatically assigned based on the input sample
# -o is automatically assigned based on the input sample
# -m is automatically assigned based on the input sample
# -r is automatically assigned based on the input reference
# -c is automatically added
# -bq is automatically assigned based on the minimum base quality set in the config file
# -q is automatically assigned based on the minimum read mapping quality set in the config file

-S          # Only include edited sites
-s 0        # The reads are unstranded 
-os 4       # Set the omopolymeric span to 4 bases.
-mbp 10     # The first 10 positions of each read will not be considered for the calling
-Mbp 10     # The last 10 positions of each read will not be considered for the calling