# -----------------------
# ALIGNMENT - STAR
# -----------------------

# List all your parameters line by line under the corresponding region
# See the online manual at https://physiology.med.cornell.edu/faculty/skrabanek/lab/angsd/lecture_notes/STARmanual.pdf for more options.

hostIndex:
    # See STAR help for more options
    # --runThreadN is automatically assigned based on the configured number of threads
    # --runMode genomeGenerate is automatically added
    # --genomeSAindexNbases is automatically assigned based on the reference genome size
    # --genomeDir is automatically assigned based on the reference path
    # --genomeFastaFiles is automatically assigned based on the reference path
    --genomeSAsparseD 1                     # Just a default value

hostAlignment:
    # See STAR help for more options
    # --runThreadN is automatically assigned based on the configured number of threads
    # --runMode alignReads is automatically added
    # --readFilesIn is automatically assigned based on the reads path
    # --genomeDir is automatically assigned based on the reference path
    # --outFileNamePrefix is automatically assigned based on the reads file ID
    # --outSAMunmapped is automatically assigned
    --limitGenomeGenerateRAM 31000000000    # Just a default value

pathogenIndex:
    # See STAR help for more options
    # --runThreadN is automatically assigned based on the configured number of threads
    # --runMode genomeGenerate is automatically added
    # --genomeSAindexNbases is automatically assigned based on the reference genome size
    # --genomeDir is automatically assigned based on the reference path
    # --genomeFastaFiles is automatically assigned based on the reference path
    --genomeSAsparseD 1                     # Just a default value

pathogenAlignment:
    # See STAR help for more options
    # --runThreadN is automatically assigned based on the configured number of threads
    # --runMode alignReads is automatically added
    # --readFilesIn is automatically assigned based on the reads path
    # --genomeDir is automatically assigned based on the reference path
    # --outFileNamePrefix is automatically assigned based on the reads file ID
    --limitGenomeGenerateRAM 31000000000    # Just a default value